data/tei_poetry.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.tei-c.org/ns/1.0"><!--
Schema generated from ODD source 2023-07-19T04:51:02Z. .
TEI Edition: Version 4.6.0. Last updated on
        4th April 2023, revision f18deffba
TEI Edition Location: https://www.tei-c.org/Vault/P5/Version 4.6.0/
  
--><!--This material is dual-licensed.
[http://creativecommons.org/licenses/by-sa/3.0/] Distributed under a Creative Commons Attribution-ShareAlike 3.0 Unported License  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2013 TEI Consortium. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. TEI material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is generally appropriate for usages which treat TEI content as data or documentation. The BSD-2 licence is generally appropriate for usage of TEI content in a software environment. For further information or clarification, please contact the  TEI Consortium .-->
   <define name="tei_macro.paraContent">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="tei_model.paraPart"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="tei_att.canonical.attributes">
      <ref name="tei_att.canonical.attribute.key"/>
      <ref name="tei_att.canonical.attribute.ref"/>
   </define>
   <define name="tei_att.canonical.attribute.key">
      <optional>
         <attribute name="key">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides an externally-defined means of identifying the entity (or entities) being named, using a coded value of some kind.</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.canonical.attribute.ref">
      <optional>
         <attribute name="ref">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(reference) provides an explicit means of locating a full definition or identity for the entity being named by means of one or more URIs.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI">
                     <param name="pattern">\S+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.written.attributes">
      <ref name="tei_att.written.attribute.hand"/>
   </define>
   <define name="tei_att.written.attribute.hand">
      <optional>
         <attribute name="hand">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to a <code xmlns="http://www.w3.org/1999/xhtml">&lt;handNote&gt;</code> element describing the hand considered responsible for the content of the element concerned.</a:documentation>
            <data type="anyURI">
               <param name="pattern">\S+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attributes">
      <ref name="tei_att.datable.w3c.attribute.when"/>
      <ref name="tei_att.datable.w3c.attribute.notBefore"/>
      <ref name="tei_att.datable.w3c.attribute.notAfter"/>
      <ref name="tei_att.datable.w3c.attribute.from"/>
      <ref name="tei_att.datable.w3c.attribute.to"/>
   </define>
   <define name="tei_att.datable.w3c.attribute.when">
      <optional>
         <attribute name="when">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies the value of the date or time in a standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attribute.notBefore">
      <optional>
         <attribute name="notBefore">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the earliest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attribute.notAfter">
      <optional>
         <attribute name="notAfter">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the latest possible date for the event in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attribute.from">
      <optional>
         <attribute name="from">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the starting point of the period in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.datable.w3c.attribute.to">
      <optional>
         <attribute name="to">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the ending point of the period in standard form, e.g. yyyy-mm-dd.</a:documentation>
            <choice>
               <data type="date"/>
               <data type="gYear"/>
               <data type="gMonth"/>
               <data type="gDay"/>
               <data type="gYearMonth"/>
               <data type="gMonthDay"/>
               <data type="time"/>
               <data type="dateTime"/>
            </choice>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="tei_poetry-att.datable.w3c-att-datable-w3c-when-constraint-rule-1">
      <sch:rule xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                context="tei:*[@when]">
        <sch:report role="nonfatal" test="@notBefore|@notAfter|@from|@to">The @when attribute cannot be used with any other att.datable.w3c attributes.</sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="tei_poetry-att.datable.w3c-att-datable-w3c-from-constraint-rule-2">
      <sch:rule xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                context="tei:*[@from]">
        <sch:report role="nonfatal" test="@notBefore">The @from and @notBefore attributes cannot be used together.</sch:report>
      </sch:rule>
   </pattern>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="tei_poetry-att.datable.w3c-att-datable-w3c-to-constraint-rule-3">
      <sch:rule xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                context="tei:*[@to]">
        <sch:report role="nonfatal" test="@notAfter">The @to and @notAfter attributes cannot be used together.</sch:report>
      </sch:rule>
   </pattern>
   <define name="tei_att.datable.attributes">
      <ref name="tei_att.datable.w3c.attributes"/>
      <ref name="tei_att.datable.attribute.calendar"/>
      <ref name="tei_att.datable.attribute.period"/>
   </define>
   <define name="tei_att.datable.attribute.calendar">
      <optional>
         <attribute name="calendar">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates one or more systems or calendars to which the date represented by the content of this element belongs.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI">
                     <param name="pattern">\S+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="tei_poetry-att.datable-calendar-calendar-constraint-rule-4">
      <sch:rule xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                context="tei:*[@calendar]">
            <sch:assert test="string-length( normalize-space(.) ) gt 0"> @calendar indicates one or more
            systems or calendars to which the date represented by the content of this element belongs,
            but this <sch:name/> element has no textual content.</sch:assert>
          </sch:rule>
   </pattern>
   <define name="tei_att.datable.attribute.period">
      <optional>
         <attribute name="period">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies pointers to one or more definitions of named periods of time (typically <code xmlns="http://www.w3.org/1999/xhtml">&lt;category&gt;</code>s or <code xmlns="http://www.w3.org/1999/xhtml">&lt;calendar&gt;</code>s) within which the datable item is understood to have occurred.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI">
                     <param name="pattern">\S+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.declarable.attributes">
      <ref name="tei_att.declarable.attribute.default"/>
   </define>
   <define name="tei_att.declarable.attribute.default">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="default"
                    a:defaultValue="false">
            <a:documentation>indicates whether or not this element is selected by default when its parent is selected.</a:documentation>
            <choice>
               <value>true</value>
               <a:documentation>This element is selected if its parent is selected</a:documentation>
               <value>false</value>
               <a:documentation>This element can only be selected explicitly, unless it is the only one of its kind, in which case it is selected if its parent is selected.</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.declaring.attributes">
      <ref name="tei_att.declaring.attribute.decls"/>
   </define>
   <define name="tei_att.declaring.attribute.decls">
      <optional>
         <attribute name="decls">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(declarations) identifies one or more declarable elements within the header, which are understood to apply to the element bearing this attribute and its content.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI">
                     <param name="pattern">\S+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.fragmentable.attributes">
      <ref name="tei_att.fragmentable.attribute.part"/>
   </define>
   <define name="tei_att.fragmentable.attribute.part">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="part"
                    a:defaultValue="N">
            <a:documentation>specifies whether or not its parent element is fragmented in some way, typically by some other overlapping structure: for example a speech which is divided between two or more verse stanzas, a paragraph which is split across a page division, a verse line which is divided between two speakers.</a:documentation>
            <choice>
               <value>Y</value>
               <a:documentation>(yes) the element is fragmented in some (unspecified) respect</a:documentation>
               <value>N</value>
               <a:documentation>(no) the element is not fragmented, or no claim is made as to its completeness</a:documentation>
               <value>I</value>
               <a:documentation>(initial) this is the initial part of a fragmented element</a:documentation>
               <value>M</value>
               <a:documentation>(medial) this is a medial part of a fragmented element</a:documentation>
               <value>F</value>
               <a:documentation>(final) this is the final part of a fragmented element</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.divLike.attributes">
      <ref name="tei_att.metrical.attributes"/>
      <ref name="tei_att.fragmentable.attributes"/>
      <ref name="tei_att.divLike.attribute.org"/>
      <ref name="tei_att.divLike.attribute.sample"/>
   </define>
   <define name="tei_att.divLike.attribute.org">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="org"
                    a:defaultValue="uniform">
            <a:documentation>(organization) specifies how the content of the division is organized.</a:documentation>
            <choice>
               <value>composite</value>
               <a:documentation>no claim is made about the sequence in which the immediate contents of this division are to be processed, or their inter-relationships.</a:documentation>
               <value>uniform</value>
               <a:documentation>the immediate contents of this element are regarded as forming a logical unit, to be processed in sequence.</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.divLike.attribute.sample">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="sample"
                    a:defaultValue="complete">
            <a:documentation>indicates whether this division is a sample of the original source and if so, from which part.</a:documentation>
            <choice>
               <value>initial</value>
               <a:documentation>division lacks material present at end in source.</a:documentation>
               <value>medial</value>
               <a:documentation>division lacks material at start and end.</a:documentation>
               <value>final</value>
               <a:documentation>division lacks material at start.</a:documentation>
               <value>unknown</value>
               <a:documentation>position of sampled material within original unknown.</a:documentation>
               <value>complete</value>
               <a:documentation>division is not a sample.</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.responsibility.attributes">
      <ref name="tei_att.global.responsibility.attribute.cert"/>
      <ref name="tei_att.global.responsibility.attribute.resp"/>
   </define>
   <define name="tei_att.global.responsibility.attribute.cert">
      <optional>
         <attribute name="cert">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(certainty) signifies the degree of certainty associated with the intervention or interpretation.</a:documentation>
            <choice>
               <data type="double"/>
               <choice>
                  <value>high</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>medium</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>low</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>unknown</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.responsibility.attribute.resp">
      <optional>
         <attribute name="resp">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsible party) indicates the agency responsible for the intervention or interpretation, for example an editor or transcriber.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI">
                     <param name="pattern">\S+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.rendition.attributes">
      <ref name="tei_att.global.rendition.attribute.rend"/>
      <ref name="tei_att.global.rendition.attribute.style"/>
      <ref name="tei_att.global.rendition.attribute.rendition"/>
   </define>
   <define name="tei_att.global.rendition.attribute.rend">
      <optional>
         <attribute name="rend">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(rendition) indicates how the element in question was rendered or presented in the source text.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">[^\p{C}\p{Z}]+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.rendition.attribute.style">
      <optional>
         <attribute name="style">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an expression in some formal style definition language which defines the rendering or presentation used for this element in the source text</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.rendition.attribute.rendition">
      <optional>
         <attribute name="rendition">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to a description of the rendering or presentation used for this element in the source text.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI">
                     <param name="pattern">\S+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.source.attributes">
      <ref name="tei_att.global.source.attribute.source"/>
   </define>
   <define name="tei_att.global.source.attribute.source">
      <optional>
         <attribute name="source">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the source from which some aspect of this element is drawn.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI">
                     <param name="pattern">\S+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="tei_poetry-att.global.source-source-only_1_ODD_source-constraint-rule-5">
      <sch:rule xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                context="tei:*[@source]">
            <sch:let name="srcs" value="tokenize( normalize-space(@source),' ')"/>
            <sch:report test="( self::tei:classRef               | self::tei:dataRef               | self::tei:elementRef               | self::tei:macroRef               | self::tei:moduleRef               | self::tei:schemaSpec )               and               $srcs[2]">
              When used on a schema description element (like
              <sch:value-of select="name(.)"/>), the @source attribute
              should have only 1 value. (This one has <sch:value-of select="count($srcs)"/>.)
            </sch:report>
          </sch:rule>
   </pattern>
   <define name="tei_att.global.attributes">
      <ref name="tei_att.global.rendition.attributes"/>
      <ref name="tei_att.global.responsibility.attributes"/>
      <ref name="tei_att.global.source.attributes"/>
      <ref name="tei_att.global.attribute.xmlid"/>
      <ref name="tei_att.global.attribute.n"/>
      <ref name="tei_att.global.attribute.xmllang"/>
      <ref name="tei_att.global.attribute.xmlbase"/>
      <ref name="tei_att.global.attribute.xmlspace"/>
   </define>
   <define name="tei_att.global.attribute.xmlid">
      <optional>
         <attribute name="xml:id">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) provides a unique identifier for the element bearing the attribute.</a:documentation>
            <data type="ID"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.n">
      <optional>
         <attribute name="n">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(number) gives a number (or other label) for an element, which is not necessarily unique within the document.</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.xmllang">
      <optional>
         <attribute name="xml:lang">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(language) indicates the language of the element content using a tag generated according to <a xmlns="http://www.w3.org/1999/xhtml"
                  href="http://www.rfc-editor.org/rfc/bcp/bcp47.txt">BCP 47</a>.</a:documentation>
            <choice>
               <data type="language"/>
               <choice>
                  <value/>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.xmlbase">
      <optional>
         <attribute name="xml:base">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a base URI reference with which applications can resolve relative URI references into absolute URI references.</a:documentation>
            <data type="anyURI">
               <param name="pattern">\S+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.xmlspace">
      <optional>
         <attribute name="xml:space">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">signals an intention about how white space should be managed by applications.</a:documentation>
            <choice>
               <value>default</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">signals that the application's default white-space processing modes are acceptable</a:documentation>
               <value>preserve</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the intent that applications preserve all white space</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.placement.attributes">
      <ref name="tei_att.placement.attribute.place"/>
   </define>
   <define name="tei_att.placement.attribute.place">
      <optional>
         <attribute name="place">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies where this item is placed.
Suggested values include: 1] top; 2] bottom; 3] margin; 4] opposite; 5] overleaf; 6] above; 7] right; 8] below; 9] left; 10] end; 11] inline; 12] inspace</a:documentation>
            <list>
               <oneOrMore>
                  <choice>
                     <value>top</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">at the top of the page</a:documentation>
                     <value>bottom</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">at the foot of the page</a:documentation>
                     <value>margin</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">in the margin (left, right, or both)</a:documentation>
                     <value>opposite</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">on the opposite, i.e. facing, page</a:documentation>
                     <value>overleaf</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">on the other side of the leaf</a:documentation>
                     <value>above</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">above the line</a:documentation>
                     <value>right</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">to the right, e.g. to the right of a vertical line of text, or to the right of a figure</a:documentation>
                     <value>below</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">below the line</a:documentation>
                     <value>left</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">to the left, e.g. to the left of a vertical line of text, or to the left of a figure</a:documentation>
                     <value>end</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">at the end of e.g. chapter or volume.</a:documentation>
                     <value>inline</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">within the body of the text.</a:documentation>
                     <value>inspace</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">in a predefined space, for example left by an earlier scribe.</a:documentation>
                     <data type="token">
                        <param name="pattern">[^\p{C}\p{Z}]+</param>
                     </data>
                  </choice>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.typed.attributes">
      <ref name="tei_att.typed.attribute.type"/>
      <ref name="tei_att.typed.attribute.subtype"/>
   </define>
   <define name="tei_att.typed.attribute.type">
      <optional>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient classification scheme or typology.</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.typed.attribute.subtype">
      <optional>
         <attribute name="subtype">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(subtype) provides a sub-categorization of the element, if needed</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="tei_poetry-att.typed-subtypeTyped-constraint-rule-6">
      <sch:rule xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns="http://www.tei-c.org/ns/1.0"
                context="tei:*[@subtype]">
        <sch:assert test="@type">The <sch:name/> element should not be categorized in detail with @subtype unless also categorized in general with @type</sch:assert>
      </sch:rule>
   </pattern>
   <define name="tei_model.nameLike.agent">
      <notAllowed/>
   </define>
   <define name="tei_model.nameLike.agent_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.nameLike.agent_sequence">
      <empty/>
   </define>
   <define name="tei_model.nameLike.agent_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.nameLike.agent_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.nameLike.agent_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.segLike">
      <notAllowed/>
   </define>
   <define name="tei_model.segLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.segLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.segLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.segLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.segLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.emphLike">
      <choice>
         <ref name="tei_title"/>
      </choice>
   </define>
   <define name="tei_model.emphLike_alternation">
      <choice>
         <ref name="tei_title"/>
      </choice>
   </define>
   <define name="tei_model.emphLike_sequence">
      <ref name="tei_title"/>
   </define>
   <define name="tei_model.emphLike_sequenceOptional">
      <optional>
         <ref name="tei_title"/>
      </optional>
   </define>
   <define name="tei_model.emphLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_title"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.emphLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_title"/>
      </oneOrMore>
   </define>
   <define name="tei_model.highlighted">
      <choice>
         <ref name="tei_model.hiLike"/>
         <ref name="tei_model.emphLike"/>
      </choice>
   </define>
   <define name="tei_model.highlighted_alternation">
      <choice>
         <ref name="tei_model.hiLike_alternation"/>
         <ref name="tei_model.emphLike_alternation"/>
      </choice>
   </define>
   <define name="tei_model.highlighted_sequence">
      <ref name="tei_model.hiLike_sequence"/>
      <ref name="tei_model.emphLike_sequence"/>
   </define>
   <define name="tei_model.highlighted_sequenceOptional">
      <optional>
         <ref name="tei_model.hiLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.emphLike_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.highlighted_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.hiLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.emphLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.highlighted_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.hiLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.emphLike_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.dateLike">
      <notAllowed/>
   </define>
   <define name="tei_model.dateLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.dateLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.dateLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.egLike">
      <notAllowed/>
   </define>
   <define name="tei_model.egLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.egLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.egLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.egLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.egLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.graphicLike">
      <notAllowed/>
   </define>
   <define name="tei_model.graphicLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.graphicLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.graphicLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.graphicLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.graphicLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.msdesc">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.msdesc_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.msdesc_sequence">
      <empty/>
   </define>
   <define name="tei_model.pPart.msdesc_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pPart.msdesc_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pPart.msdesc_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.editorial_sequence">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequence">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.edit">
      <choice>
         <ref name="tei_model.pPart.editorial"/>
         <ref name="tei_model.pPart.transcriptional"/>
      </choice>
   </define>
   <define name="tei_model.pPart.edit_alternation">
      <choice>
         <ref name="tei_model.pPart.editorial_alternation"/>
         <ref name="tei_model.pPart.transcriptional_alternation"/>
      </choice>
   </define>
   <define name="tei_model.pPart.edit_sequence">
      <ref name="tei_model.pPart.editorial_sequence"/>
      <ref name="tei_model.pPart.transcriptional_sequence"/>
   </define>
   <define name="tei_model.pPart.edit_sequenceOptional">
      <optional>
         <ref name="tei_model.pPart.editorial_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.pPart.transcriptional_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.pPart.edit_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.pPart.editorial_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.pPart.transcriptional_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.pPart.edit_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.pPart.editorial_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.pPart.transcriptional_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.ptrLike">
      <notAllowed/>
   </define>
   <define name="tei_model.ptrLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.ptrLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.ptrLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.ptrLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.ptrLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.lPart">
      <notAllowed/>
   </define>
   <define name="tei_model.lPart_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.lPart_sequence">
      <empty/>
   </define>
   <define name="tei_model.lPart_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.lPart_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.lPart_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.global.meta">
      <notAllowed/>
   </define>
   <define name="tei_model.global.meta_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.global.meta_sequence">
      <empty/>
   </define>
   <define name="tei_model.global.meta_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.global.meta_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.global.meta_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.milestoneLike">
      <notAllowed/>
   </define>
   <define name="tei_model.milestoneLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.milestoneLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.milestoneLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.milestoneLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.milestoneLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.gLike">
      <notAllowed/>
   </define>
   <define name="tei_model.oddDecl">
      <notAllowed/>
   </define>
   <define name="tei_model.oddDecl_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.oddDecl_sequence">
      <empty/>
   </define>
   <define name="tei_model.oddDecl_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.oddDecl_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.oddDecl_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.phrase.xml">
      <notAllowed/>
   </define>
   <define name="tei_model.phrase.xml_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.phrase.xml_sequence">
      <empty/>
   </define>
   <define name="tei_model.phrase.xml_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.phrase.xml_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.phrase.xml_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.specDescLike">
      <notAllowed/>
   </define>
   <define name="tei_model.specDescLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.specDescLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.specDescLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.specDescLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.specDescLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.biblLike">
      <notAllowed/>
   </define>
   <define name="tei_model.biblLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.biblLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.biblLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.biblLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.biblLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.headLike">
      <choice>
         <ref name="tei_head"/>
      </choice>
   </define>
   <define name="tei_model.headLike_alternation">
      <choice>
         <ref name="tei_head"/>
      </choice>
   </define>
   <define name="tei_model.headLike_sequence">
      <ref name="tei_head"/>
   </define>
   <define name="tei_model.headLike_sequenceOptional">
      <optional>
         <ref name="tei_head"/>
      </optional>
   </define>
   <define name="tei_model.headLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_head"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.headLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_head"/>
      </oneOrMore>
   </define>
   <define name="tei_model.labelLike">
      <notAllowed/>
   </define>
   <define name="tei_model.labelLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.labelLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.labelLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.labelLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.labelLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.listLike">
      <notAllowed/>
   </define>
   <define name="tei_model.listLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.listLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.listLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.listLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.listLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.noteLike">
      <notAllowed/>
   </define>
   <define name="tei_model.noteLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.noteLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.noteLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.noteLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.noteLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.lLike">
      <choice>
         <ref name="tei_l"/>
      </choice>
   </define>
   <define name="tei_model.lLike_alternation">
      <choice>
         <ref name="tei_l"/>
      </choice>
   </define>
   <define name="tei_model.lLike_sequence">
      <ref name="tei_l"/>
   </define>
   <define name="tei_model.lLike_sequenceOptional">
      <optional>
         <ref name="tei_l"/>
      </optional>
   </define>
   <define name="tei_model.lLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_l"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.lLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_l"/>
      </oneOrMore>
   </define>
   <define name="tei_model.pLike">
      <choice>
         <ref name="tei_p"/>
      </choice>
   </define>
   <define name="tei_model.pLike_alternation">
      <choice>
         <ref name="tei_p"/>
      </choice>
   </define>
   <define name="tei_model.pLike_sequence">
      <ref name="tei_p"/>
   </define>
   <define name="tei_model.pLike_sequenceOptional">
      <optional>
         <ref name="tei_p"/>
      </optional>
   </define>
   <define name="tei_model.pLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_p"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.pLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_p"/>
      </oneOrMore>
   </define>
   <define name="tei_model.stageLike">
      <notAllowed/>
   </define>
   <define name="tei_model.stageLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.stageLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.stageLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.stageLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.stageLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.global.edit">
      <notAllowed/>
   </define>
   <define name="tei_model.global.edit_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.global.edit_sequence">
      <empty/>
   </define>
   <define name="tei_model.global.edit_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.global.edit_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.global.edit_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.divPart">
      <choice>
         <ref name="tei_model.lLike"/>
         <ref name="tei_model.pLike"/>
         <ref name="tei_lg"/>
      </choice>
   </define>
   <define name="tei_model.placeNamePart">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart_sequence">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.placeStateLike">
      <choice>
         <ref name="tei_model.placeNamePart"/>
      </choice>
   </define>
   <define name="tei_model.placeStateLike_alternation">
      <choice>
         <ref name="tei_model.placeNamePart_alternation"/>
      </choice>
   </define>
   <define name="tei_model.placeStateLike_sequence">
      <ref name="tei_model.placeNamePart_sequence"/>
   </define>
   <define name="tei_model.placeStateLike_sequenceOptional">
      <optional>
         <ref name="tei_model.placeNamePart_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.placeStateLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.placeNamePart_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.placeStateLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.placeNamePart_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.publicationStmtPart.agency">
      <notAllowed/>
   </define>
   <define name="tei_model.publicationStmtPart.detail">
      <choice>
         <ref name="tei_model.ptrLike"/>
      </choice>
   </define>
   <define name="tei_model.quoteLike">
      <notAllowed/>
   </define>
   <define name="tei_model.quoteLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.quoteLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.attributable">
      <choice>
         <ref name="tei_model.quoteLike"/>
      </choice>
   </define>
   <define name="tei_model.attributable_alternation">
      <choice>
         <ref name="tei_model.quoteLike_alternation"/>
      </choice>
   </define>
   <define name="tei_model.attributable_sequence">
      <ref name="tei_model.quoteLike_sequence"/>
   </define>
   <define name="tei_model.attributable_sequenceOptional">
      <optional>
         <ref name="tei_model.quoteLike_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.attributable_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.quoteLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.attributable_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.quoteLike_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.respLike">
      <notAllowed/>
   </define>
   <define name="tei_model.divWrapper">
      <notAllowed/>
   </define>
   <define name="tei_model.divTopPart">
      <choice>
         <ref name="tei_model.headLike"/>
      </choice>
   </define>
   <define name="tei_model.divTop">
      <choice>
         <ref name="tei_model.divWrapper"/>
         <ref name="tei_model.divTopPart"/>
      </choice>
   </define>
   <define name="tei_model.divBottomPart">
      <notAllowed/>
   </define>
   <define name="tei_model.divBottom">
      <choice>
         <ref name="tei_model.divWrapper"/>
         <ref name="tei_model.divBottomPart"/>
      </choice>
   </define>
   <define name="tei_model.addressLike">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.nameLike">
      <choice>
         <ref name="tei_model.nameLike.agent"/>
         <ref name="tei_model.offsetLike"/>
         <ref name="tei_model.placeStateLike"/>
      </choice>
   </define>
   <define name="tei_model.nameLike_alternation">
      <choice>
         <ref name="tei_model.nameLike.agent_alternation"/>
         <ref name="tei_model.offsetLike_alternation"/>
         <ref name="tei_model.placeStateLike_alternation"/>
      </choice>
   </define>
   <define name="tei_model.nameLike_sequence">
      <ref name="tei_model.nameLike.agent_sequence"/>
      <ref name="tei_model.offsetLike_sequence"/>
      <ref name="tei_model.placeStateLike_sequence"/>
   </define>
   <define name="tei_model.nameLike_sequenceOptional">
      <optional>
         <ref name="tei_model.nameLike.agent_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.offsetLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.placeStateLike_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.nameLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.nameLike.agent_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.offsetLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.placeStateLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.nameLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.nameLike.agent_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.offsetLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.placeStateLike_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.global">
      <choice>
         <ref name="tei_model.global.meta"/>
         <ref name="tei_model.milestoneLike"/>
         <ref name="tei_model.noteLike"/>
         <ref name="tei_model.global.edit"/>
      </choice>
   </define>
   <define name="tei_model.pPart.data">
      <choice>
         <ref name="tei_model.dateLike"/>
         <ref name="tei_model.measureLike"/>
         <ref name="tei_model.addressLike"/>
         <ref name="tei_model.nameLike"/>
      </choice>
   </define>
   <define name="tei_model.pPart.data_alternation">
      <choice>
         <ref name="tei_model.dateLike_alternation"/>
         <ref name="tei_model.measureLike_alternation"/>
         <ref name="tei_model.addressLike_alternation"/>
         <ref name="tei_model.nameLike_alternation"/>
      </choice>
   </define>
   <define name="tei_model.pPart.data_sequence">
      <ref name="tei_model.dateLike_sequence"/>
      <ref name="tei_model.measureLike_sequence"/>
      <ref name="tei_model.addressLike_sequence"/>
      <ref name="tei_model.nameLike_sequence"/>
   </define>
   <define name="tei_model.pPart.data_sequenceOptional">
      <optional>
         <ref name="tei_model.dateLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.measureLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.addressLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.nameLike_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.pPart.data_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.dateLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.measureLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.addressLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.nameLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.pPart.data_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.dateLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.measureLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.addressLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.nameLike_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.inter">
      <choice>
         <ref name="tei_model.egLike"/>
         <ref name="tei_model.oddDecl"/>
         <ref name="tei_model.biblLike"/>
         <ref name="tei_model.labelLike"/>
         <ref name="tei_model.listLike"/>
         <ref name="tei_model.stageLike"/>
         <ref name="tei_model.attributable"/>
      </choice>
   </define>
   <define name="tei_model.common">
      <choice>
         <ref name="tei_model.divPart"/>
         <ref name="tei_model.inter"/>
      </choice>
   </define>
   <define name="tei_model.phrase">
      <choice>
         <ref name="tei_model.segLike"/>
         <ref name="tei_model.highlighted"/>
         <ref name="tei_model.graphicLike"/>
         <ref name="tei_model.pPart.msdesc"/>
         <ref name="tei_model.pPart.edit"/>
         <ref name="tei_model.ptrLike"/>
         <ref name="tei_model.lPart"/>
         <ref name="tei_model.phrase.xml"/>
         <ref name="tei_model.specDescLike"/>
         <ref name="tei_model.pPart.data"/>
      </choice>
   </define>
   <define name="tei_model.paraPart">
      <choice>
         <ref name="tei_model.gLike"/>
         <ref name="tei_model.lLike"/>
         <ref name="tei_model.global"/>
         <ref name="tei_model.inter"/>
         <ref name="tei_model.phrase"/>
         <ref name="tei_lg"/>
      </choice>
   </define>
   <define name="tei_model.divLike">
      <notAllowed/>
   </define>
   <define name="tei_model.divGenLike">
      <notAllowed/>
   </define>
   <define name="tei_model.div1Like">
      <notAllowed/>
   </define>
   <define name="tei_model.teiHeaderPart">
      <notAllowed/>
   </define>
   <define name="tei_model.sourceDescPart">
      <notAllowed/>
   </define>
   <define name="tei_model.resource">
      <choice>
         <ref name="tei_text"/>
      </choice>
   </define>
   <define name="tei_p">
      <element name="p">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(paragraph) marks paragraphs in prose. [3.1. Paragraphs 7.2.5. Speech Contents]</a:documentation>
         <ref name="tei_macro.paraContent"/>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="tei_poetry-p-abstractModel-structure-p-in-ab-or-p-constraint-report-5">
            <rule context="tei:p">
               <sch:report xmlns:rng="http://relaxng.org/ns/structure/1.0"
                           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                           xmlns="http://www.tei-c.org/ns/1.0"
                           test="(ancestor::tei:ab or ancestor::tei:p) and not( ancestor::tei:floatingText |parent::tei:exemplum |parent::tei:item |parent::tei:note |parent::tei:q |parent::tei:quote |parent::tei:remarks |parent::tei:said |parent::tei:sp |parent::tei:stage |parent::tei:cell |parent::tei:figure )">
        Abstract model violation: Paragraphs may not occur inside other paragraphs or ab elements.
      </sch:report>
            </rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="tei_poetry-p-abstractModel-structure-p-in-l-or-lg-constraint-report-6">
            <rule context="tei:p">
               <sch:report xmlns:rng="http://relaxng.org/ns/structure/1.0"
                           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                           xmlns="http://www.tei-c.org/ns/1.0"
                           test="(ancestor::tei:l or ancestor::tei:lg) and not( ancestor::tei:floatingText |parent::tei:figure |parent::tei:note )">
        Abstract model violation: Lines may not contain higher-level structural elements such as div, p, or ab, unless p is a child of figure or note, or is a descendant of floatingText.
      </sch:report>
            </rule>
         </pattern>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declaring.attributes"/>
         <ref name="tei_att.fragmentable.attributes"/>
         <ref name="tei_att.written.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_head">
      <element name="head">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(heading) contains any type of heading, for example the title of a section, or the heading of a list, glossary, manuscript description, etc. [4.2.1. Headings and Trailers]</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
               <ref name="tei_lg"/>
               <ref name="tei_model.gLike"/>
               <ref name="tei_model.phrase"/>
               <ref name="tei_model.inter"/>
               <ref name="tei_model.lLike"/>
               <ref name="tei_model.global"/>
            </choice>
         </zeroOrMore>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <ref name="tei_att.placement.attributes"/>
         <ref name="tei_att.written.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_title">
      <element name="title">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(title) contains a title for any kind of work. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement]</a:documentation>
         <ref name="tei_macro.paraContent"/>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.typed.attribute.subtype"/>
         <ref name="tei_att.canonical.attributes"/>
         <ref name="tei_att.datable.attributes"/>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">classifies the title according to some convenient typology.
Sample values include: 1] main; 2] sub (subordinate); 3] alt (alternate); 4] short; 5] desc (descriptive)</a:documentation>
               <data type="token">
                  <param name="pattern">[^\p{C}\p{Z}]+</param>
               </data>
            </attribute>
         </optional>
         <optional>
            <attribute name="level">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the bibliographic level for a title, that is, whether it identifies an article, book, journal, series, or unpublished material.</a:documentation>
               <choice>
                  <value>a</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(analytic) the title applies to an analytic item, such as an article, poem, or other work published as part of a larger item.</a:documentation>
                  <value>m</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(monographic) the title applies to a monograph such as a book or other item considered to be a distinct publication, including single volumes of multi-volume works</a:documentation>
                  <value>j</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(journal) the title applies to any serial or periodical publication such as a journal, magazine, or newspaper</a:documentation>
                  <value>s</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(series) the title applies to a series of otherwise distinct publications such as a collection</a:documentation>
                  <value>u</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(unpublished) the title applies to any unpublished material (including theses and dissertations unless published by a commercial press)</a:documentation>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_l">
      <element name="l">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(verse line) contains a single, possibly incomplete, line of verse. [3.13.1. Core Tags for Verse 3.13. Passages of Verse or Drama 7.2.5. Speech Contents]</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
               <ref name="tei_model.gLike"/>
               <ref name="tei_model.phrase"/>
               <ref name="tei_model.inter"/>
               <ref name="tei_model.global"/>
            </choice>
         </zeroOrMore>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="tei_poetry-l-abstractModel-structure-l-in-l-constraint-report-7">
            <rule context="tei:l">
               <sch:report xmlns:rng="http://relaxng.org/ns/structure/1.0"
                           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                           xmlns="http://www.tei-c.org/ns/1.0"
                           test="ancestor::tei:l[not(.//tei:note//tei:l[. = current()])]">
        Abstract model violation: Lines may not contain lines or lg elements.
      </sch:report>
            </rule>
         </pattern>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.metrical.attributes"/>
         <ref name="tei_att.enjamb.attributes"/>
         <ref name="tei_att.fragmentable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_lg">
      <element name="lg">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(line group) contains one or more verse lines functioning as a formal unit, e.g. a stanza, refrain, verse paragraph, etc. [3.13.1. Core Tags for Verse 3.13. Passages of Verse or Drama 7.2.5. Speech Contents]</a:documentation>
         <group>
            <zeroOrMore>
               <choice>
                  <ref name="tei_model.divTop"/>
                  <ref name="tei_model.global"/>
               </choice>
            </zeroOrMore>      
            <choice>
               <ref name="tei_model.lLike"/>
               <ref name="tei_model.stageLike"/>
               <ref name="tei_model.labelLike"/>
               <ref name="tei_model.pPart.transcriptional"/>
               <ref name="tei_lg"/>
            </choice>
            <zeroOrMore>
               <choice>
                  <ref name="tei_model.lLike"/>
                  <ref name="tei_model.stageLike"/>
                  <ref name="tei_model.labelLike"/>
                  <ref name="tei_model.pPart.transcriptional"/>
                  <ref name="tei_model.global"/>
                  <ref name="tei_lg"/>
               </choice>
            </zeroOrMore>
            <zeroOrMore>
               <group>        
                  <ref name="tei_model.divBottom"/>
                  <zeroOrMore>
                     <ref name="tei_model.global"/>
                  </zeroOrMore>
               </group>
            </zeroOrMore>
         </group>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="tei_poetry-lg-atleast1oflggapl-constraint-assert-3">
            <rule context="tei:lg">
               <sch:assert xmlns:rng="http://relaxng.org/ns/structure/1.0"
                           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                           xmlns="http://www.tei-c.org/ns/1.0"
                           test="count(descendant::tei:lg|descendant::tei:l|descendant::tei:gap) &gt; 0">An lg element
        must contain at least one child l, lg, or gap element.</sch:assert>
            </rule>
         </pattern>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="tei_poetry-lg-abstractModel-structure-lg-in-l-constraint-report-8">
            <rule context="tei:lg">
               <sch:report xmlns:rng="http://relaxng.org/ns/structure/1.0"
                           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                           xmlns="http://www.tei-c.org/ns/1.0"
                           test="ancestor::tei:l[not(.//tei:note//tei:lg[. = current()])]">
        Abstract model violation: Lines may not contain line groups.
      </sch:report>
            </rule>
         </pattern>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.divLike.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <ref name="tei_att.declaring.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_teiHeader">
      <element name="teiHeader">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI header) supplies descriptive and declarative metadata associated with a digital resource or set of resources. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text]</a:documentation>
         <group>
            <ref name="tei_fileDesc"/>
            <zeroOrMore>
               <ref name="tei_model.teiHeaderPart"/>
            </zeroOrMore>
      
         </group>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_fileDesc">
      <element name="fileDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(file description) contains a full bibliographic description of an electronic file. [2.2. The File Description 2.1.1. The TEI Header and Its Components]</a:documentation>
         <group>
            <group>
               <ref name="tei_titleStmt"/>
        
          
        
        
          
        
               <ref name="tei_publicationStmt"/>
        
          
        
        
          
        
            </group>
      
            <oneOrMore>
               <ref name="tei_sourceDesc"/>
            </oneOrMore>
      
         </group>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_titleStmt">
      <element name="titleStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(title statement) groups information about the title of a work and those responsible for its content. [2.2.1. The Title Statement 2.2. The File Description]</a:documentation>
         <group>
      
            <oneOrMore>
               <ref name="tei_title"/>
            </oneOrMore>
      
      
            <zeroOrMore>
               <ref name="tei_model.respLike"/>
            </zeroOrMore>
      
         </group>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_publicationStmt">
      <element name="publicationStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(publication statement) groups information concerning the publication or distribution of an electronic or other text. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description]</a:documentation>
         <choice>
      
	           <oneOrMore>
               <group>
	  
	                 <ref name="tei_model.publicationStmtPart.agency"/>
	  
	  
	                 <zeroOrMore>
                     <ref name="tei_model.publicationStmtPart.detail"/>
                  </zeroOrMore>
	  
	              </group>
            </oneOrMore>
      
      
	           <oneOrMore>
               <ref name="tei_model.pLike"/>
            </oneOrMore>
      
         </choice>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_sourceDesc">
      <element name="sourceDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(source description) describes the source(s) from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. The Source Description]</a:documentation>
         <choice>
            <oneOrMore>
               <ref name="tei_model.pLike"/>
            </oneOrMore>
            <oneOrMore>
               <choice>
                  <ref name="tei_model.biblLike"/>
                  <ref name="tei_model.sourceDescPart"/>
                  <ref name="tei_model.listLike"/>
               </choice>
            </oneOrMore>
         </choice>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declarable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_TEI">
      <element name="TEI">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI document) contains a single TEI-conformant document, combining a single TEI header with one or more members of the model.resource class. Multiple <code xmlns="http://www.w3.org/1999/xhtml">&lt;TEI&gt;</code> elements may be combined within a <code xmlns="http://www.w3.org/1999/xhtml">&lt;TEI&gt;</code> (or <code xmlns="http://www.w3.org/1999/xhtml">&lt;teiCorpus&gt;</code>) element. [4. Default Text Structure 15.1. Varieties of Composite Text]</a:documentation>
         <group>
            <ref name="tei_teiHeader"/>
            <choice>
               <group>
                  <oneOrMore>
                     <ref name="tei_model.resource"/>
                  </oneOrMore>
                  <zeroOrMore>
                     <ref name="tei_TEI"/>
                  </zeroOrMore>
               </group>
               <oneOrMore>
                  <ref name="tei_TEI"/>
               </oneOrMore>
            </choice>
         </group>
         <sch:ns xmlns:rng="http://relaxng.org/ns/structure/1.0"
                 xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                 xmlns="http://www.tei-c.org/ns/1.0"
                 prefix="tei"
                 uri="http://www.tei-c.org/ns/1.0"/>
         <sch:ns xmlns:rng="http://relaxng.org/ns/structure/1.0"
                 xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                 xmlns="http://www.tei-c.org/ns/1.0"
                 prefix="xs"
                 uri="http://www.w3.org/2001/XMLSchema"/>
         <sch:ns xmlns:rng="http://relaxng.org/ns/structure/1.0"
                 xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                 xmlns="http://www.tei-c.org/ns/1.0"
                 prefix="rng"
                 uri="http://relaxng.org/ns/structure/1.0"/>
         <sch:ns xmlns:rng="http://relaxng.org/ns/structure/1.0"
                 xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                 xmlns="http://www.tei-c.org/ns/1.0"
                 prefix="rna"
                 uri="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <optional>
            <attribute name="version">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the version number of the TEI Guidelines against which this document is valid.</a:documentation>
               <data type="token">
                  <param name="pattern">[\d]+(\.[\d]+){0,2}</param>
               </data>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_text">
      <element name="text">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text) contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4. Default Text Structure 15.1. Varieties of Composite Text]</a:documentation>
         <group>
      
      
        
	           <zeroOrMore>
               <ref name="tei_model.global"/>
            </zeroOrMore>
      
            <choice>
               <ref name="tei_body"/>
        
            </choice>
      
      
        
	           <zeroOrMore>
               <ref name="tei_model.global"/>
            </zeroOrMore>
      
         </group>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declaring.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <ref name="tei_att.written.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_body">
      <element name="body">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. Default Text Structure]</a:documentation>
         <group>
            
            <zeroOrMore>
               <ref name="tei_model.global"/>
            </zeroOrMore>
            
            <optional>
               <group>
                  <ref name="tei_model.divTop"/>
                  <zeroOrMore>
                     <choice>
                        <ref name="tei_model.global"/>
                        <ref name="tei_model.divTop"/>
                     </choice>
                  </zeroOrMore>          
               </group>
            </optional>
            
            <optional>
               <group>
                  <ref name="tei_model.divGenLike"/>
                  <zeroOrMore>
                     <choice>
                        <ref name="tei_model.global"/>
                        <ref name="tei_model.divGenLike"/>
                     </choice>
                  </zeroOrMore>          
               </group>
            </optional>
      
            <choice>
                  
               <oneOrMore>
                  <group>
                     <ref name="tei_model.divLike"/>
                     <zeroOrMore>
                        <choice>
                           <ref name="tei_model.global"/>
                           <ref name="tei_model.divGenLike"/>
                        </choice>
                     </zeroOrMore>
                  </group>
               </oneOrMore>
        
               <oneOrMore>
                  <group>
                     <ref name="tei_model.div1Like"/>
                     <zeroOrMore>
                        <choice>
                           <ref name="tei_model.global"/>
                           <ref name="tei_model.divGenLike"/>
                        </choice>
                     </zeroOrMore>
                  </group>
               </oneOrMore>
        
               <group>
                  <oneOrMore>
                     <group>
                        <choice>
              
                           <ref name="tei_model.common"/>
                        </choice>
                        <zeroOrMore>
                           <ref name="tei_model.global"/>
                        </zeroOrMore>
                     </group>
                  </oneOrMore>
                  <optional>
                     <choice>
            
                        <oneOrMore>
                           <group>
                              <ref name="tei_model.divLike"/>
                              <zeroOrMore>
                                 <choice>
                                    <ref name="tei_model.global"/>
                                    <ref name="tei_model.divGenLike"/>
                                 </choice>
                              </zeroOrMore>
                           </group>
                        </oneOrMore>
            
                        <oneOrMore>
                           <group>
                              <ref name="tei_model.div1Like"/>
                              <zeroOrMore>
                                 <choice>
                                    <ref name="tei_model.global"/>
                                    <ref name="tei_model.divGenLike"/>
                                 </choice>
                              </zeroOrMore>
                           </group>
                        </oneOrMore>
                     </choice>
                  </optional>
               </group>
            </choice>
      
      
            <zeroOrMore>
               <group>
                  <ref name="tei_model.divBottom"/>
                  <zeroOrMore>
                     <ref name="tei_model.global"/>
                  </zeroOrMore>
               </group>
            </zeroOrMore>
         </group>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declaring.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_att.metrical.attributes">
      <ref name="tei_att.metrical.attribute.met"/>
      <ref name="tei_att.metrical.attribute.real"/>
      <ref name="tei_att.metrical.attribute.rhyme"/>
   </define>
   <define name="tei_att.metrical.attribute.met">
      <optional>
         <attribute name="met">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(metrical structure, conventional) contains a user-specified encoding for the conventional metrical structure of the element.</a:documentation>
            <data type="token"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.metrical.attribute.real">
      <optional>
         <attribute name="real">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(metrical structure, realized) contains a user-specified encoding for the actual realization of the conventional metrical structure applicable to the element.</a:documentation>
            <data type="token"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.metrical.attribute.rhyme">
      <optional>
         <attribute name="rhyme">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(rhyme scheme) specifies the rhyme scheme applicable to a group of verse lines.</a:documentation>
            <data type="token"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.enjamb.attributes">
      <ref name="tei_att.enjamb.attribute.enjamb"/>
   </define>
   <define name="tei_att.enjamb.attribute.enjamb">
      <optional>
         <attribute name="enjamb">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(enjambement) indicates that the end of a verse line is marked by enjambement.
Sample values include: 1] no; 2] yes; 3] weak; 4] strong</a:documentation>
            <data type="token">
               <param name="pattern">[^\p{C}\p{Z}]+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <start>
      <choice>
         <ref name="tei_TEI"/>
      </choice>
   </start>
</grammar>
